@import url('https://fonts.googleapis.com/css2? family = Abrir + Sans & display = swap');

@import url('https://fonts.googleapis.com/css2? family = Pacifico & display = swap');

body { 
 background-color: #2086d8;
}
body {
  margin: 0;
  padding: 0;
}
section{
  width: 930px;
  height: 430px;
  margin-left: 170px;
  box-shadow: 0 0 8px 0 #000000;
  border-radius: 10px;
  position: fixed;
  background-color: #f8f8f8;
}

h1{
  font-size: 40px;
  font-family: 'Pacifico', cursiva; 
  color: #f6f8f8;
  background-color: #122850;
  border-radius: 3px;
  text-align: center;
}
#nome {
  margin-left: 30px;
  margin-top: 30px;
}
#campo1{
  display: flex;
}
#campo2 {
display: flex;
margin-top: 30px;
}
div {
  display: inline-block;
}
#Gmail{
  position: absolute;
  z-index: 1;
}
#campo3{
  margin-top: 30px;
}
#campo4{
  margin-top:30px ;
}
#campo5{
  margin-top: 30px;
}
#data {
  margin-top: 30px;
  margin-left: 4px;
}

input[type=date]{
  width: 310px;
  height: 50px;
  outline: none;
  border: 2px solid #0053d3;
  border-radius: 30px;
  transition: 0.5s;
  box-shadow: 0 0 8px 0 #0053d3;
}
input[type=tel] {
  box-shadow: 0 0 8px 0 #0053d3;
  outline: none;
  width: 300px;
  height: 50px;
  padding-left: 15px;
  border-radius: 50px;
  border: 2px solid #0053d3;
  transition: 0.5s;
  font-size: 20px;
}
input[type=password] {
  box-shadow: 0 0 8px 0 #0053d3;
  outline: none;
  width: 300px;
  height: 50px;
  padding-left: 15px;
  border-radius: 50px;
  border: 2px solid #0053d3;
  transition: 0.5s;
  font-size: 20px;
}
input[type=text] {
   box-shadow: 0 0 8px 0 #0053d3;
   outline: none;
   width: 300px;
   height: 50px;
   padding-left: 15px;
   border-radius: 50px;
   border: 2px solid #0053d3;
   transition: 0.5s;
   font-size: 20px;
}
input[type=text]:hover{
  box-shadow: 0 0 8px 0 rgb(250, 249, 249);
}
input[type=password]:hover{
  box-shadow: 0 0 8px 0 rgb(255, 255, 255);
}
input[type=tel]:hover{
  box-shadow: 0 0 8px 0 rgb(246, 246, 246);
}
input[type=date]:hover{
  box-shadow: 0 0 8px 0 rgb(238, 237, 237);
}
placeholder {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  height: 25px;
  width: 30px;
  margin-left: 180px;
}

button {
  box-shadow: 0 0 8px 0 rgb(171, 170, 170);
  outline: none;
  border-radius: 5px;
  border: 3px solid #fdffff;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
  align-items: center;
  width: 150px;
  height: 50px;
  transition:  all 0.3s;
  margin-left: 370px;
  margin-top: 100px;
}
button:hover{
  cursor:pointer;
  border: 2px solid #000000;
  box-shadow: 0 0 8px 0 rgb(248, 244, 244);
  transition-timing-function: linear;
  background-color: #000000;
  color: #f8f8f8;
}

@media screen and (max-width: 768px ){
  section{
    width: 640px;
    height: 680px;
    margin-left: 60px;
    top: 90px;
  }
  #nome {
    margin-left: 15px;
    display: inline;
  }
  #data {
   margin-left: 170px;
   width: 315px;
   margin-top: 25px;
   display: block;
   box-shadow: none;
   border: 2px solid black;
   border-radius: 7px; 
  }
  #campo1{
    width: 300px;
    margin-left: 170px;
    margin-top: 25px;
    border-radius: 7px; 
  }
   #campo2 {
     width: 300px;
     margin-left: 170px;
     margin-top: 25px;
     border-radius: 7px; 
   }
   #campo3{
     margin-top: 25px;
     border-radius: 7px; 
     margin-left: 10px;
   }
   div {
     display: inline;
   }
   #Gmail {
     margin-top: 1px;
     margin-left: 10px;
   }
   input[type=tel]{
     width: 300px; 
     margin-left: 10px;  
     margin-top: 15px;
     box-shadow: none;
     border-color: black;  
     border-radius: 7px; 
   }
   input[type=text]{
    width: 300px;
    margin-left: 70px;
    margin-top: 10px;  
    box-shadow: none;
    border-color: black;
    border-radius: 7px; 
  }
  input[type=password]{
    width: 300px;
    margin-left: 10px;
    margin-top: 10px;  
    box-shadow: none;
    border-color: black;
    border-radius: 7px; 
  }
  input[type=date]{
    margin-top: 10px;
    margin-left: 50px;
  }
  #date-img{
    margin-left: 20px;
  }
  button{
    margin-top: 310px;
    margin-left: 240px;
  }
  img {
    margin-left: 120px;
  }
  input[type=text]:hover{
    box-shadow: none;
  }
  input[type=date]:hover{
    box-shadow: none;
  }
}
@media screen and (max-width: 570px ){
  section{
    width: 410px;
    height: 680px;
    margin-left: 40px;
  }
  #nome {
    margin-left: 10px;
    display: inline;
  }
  #data {
   margin-left: 80px;
   width: 265px;
   margin-top: 25px;
   display: block;
   box-shadow: none;
   border: 2px solid black;
   border-radius: 7px; 
  }
  #campo1{
    width: 250px;
    margin-left: 80px;
    margin-top: 25px;
    border-radius: 7px; 
  }
   #campo2 {
     width: 250px;
     margin-left: 80px;
     margin-top: 25px;
     border-radius: 7px; 
   }
   #campo3{
     margin-top: 25px;
     border-radius: 7px; 
   }
   div {
     display: inline;
   }
   #Gmail {
     margin-top: 1px;
     margin-left: 10px;
   }
   input[type=tel]{
     width: 250px; 
     margin-left: 10px;  
     margin-top: 15px;
     box-shadow: none;
     border-color: black;  
     border-radius: 7px; 
   }
   input[type=text]{
    width: 250px;
    margin-left: 10px;
    margin-top: 10px;  
    box-shadow: none;
    border-color: black;
    border-radius: 7px; 
  }
  input[type=password]{
    width: 250px;
    margin-left: 10px;
    margin-top: 10px;  
    box-shadow: none;
    border-color: black;
    border-radius: 7px; 
  }
  inpu[type=date]{
    margin-top: 10px;
    margin-left: 50px;
  }
  #date-img{
    margin-left: 20px;
  }
  button{
    margin-top: 310px;
    margin-left: 125px;
  }
  img {
    margin-left: 29px;
  }
  input[type=text]:hover{
    box-shadow: none;
  }
  input[type=date]:hover{
    box-shadow: none;
  }
}
@media screen and (max-width: 475px ){
  section{
    width: 340px;
    height: 680px;
    margin-left: 30px;
    top: 90px;
  }
  #nome {
    margin-left: 15px;
    display: inline;
  }
  #data {
   margin-left: 70px;
   width: 215px;
   margin-top: 25px;
   display: block;
   box-shadow: none;
   border: 2px solid black;
   border-radius: 7px; 
  }
  #campo1{
    width: 200px;
    margin-left: 70px;
    margin-top: 25px;
    border-radius: 7px; 
  }
   #campo2 {
     width: 200px;
     margin-left: 70px;
     margin-top: 25px;
     border-radius: 7px; 
   }
   #campo3{
     margin-top: 25px;
     border-radius: 7px; 
   }
   div {
     display: inline;
   }
   #Gmail {
     margin-top: 1px;
     margin-left: 10px;
   }
   input[type=tel]{
     width: 200px; 
     margin-left: 10px;  
     margin-top: 15px;
     box-shadow: none;
     border-color: black;  
     border-radius: 7px; 
   }
   input[type=text]{
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;  
    box-shadow: none;
    border-color: black;
    border-radius: 7px; 
  }
  input[type=password]{
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;  
    box-shadow: none;
    border-color: black;
    border-radius: 7px; 
  }
  input[type=date]{
    margin-top: 10px;
    margin-left: 50px;
  }
  #date-img{
    margin-left: 20px;
  }
  button{
    margin-top: 310px;
    margin-left: 85px;
  }
  img {
    margin-left: 25px;
  }
  input[type=text]:hover{
    box-shadow: none;
  }
  input[type=date]:hover{
    box-shadow: none;
  }
}
@media screen and (max-width: 355px ){
  section{
    width: 310px;
    height: 680px;
    margin-left: 3px;
  }
  #nome {
    margin-left: 10px;
    display: inline;
  }
  #data {
   margin-left: 60px;
   width: 215px;
   margin-top: 25px;
   display: block;
   box-shadow: none;
   border: 2px solid black;
   border-radius: 7px; 
  }
  #campo1{
    width: 200px;
    margin-left: 60px;
    margin-top: 25px;
    border-radius: 7px; 
  }
   #campo2 {
     width: 200px;
     margin-left: 60px;
     margin-top: 25px;
     border-radius: 7px; 
   }
   #campo3{
     margin-top: 25px;
     border-radius: 7px; 
   }
   div {
     display: inline;
   }
   #Gmail {
     margin-top: 1px;
     margin-left: 10px;
   }
   input[type=tel]{
     width: 200px; 
     margin-left: 10px;  
     margin-top: 15px;
     box-shadow: none;
     border-color: black;  
     border-radius: 7px; 
   }
   input[type=text]{
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;  
    box-shadow: none;
    border-color: black;
    border-radius: 7px; 
  }
  input[type=password]{
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;  
    box-shadow: none;
    border-color: black;
    border-radius: 7px; 
  }
  inpu[type=date]{
    margin-top: 10px;
    margin-left: 50px;
  }
  #date-img{
    margin-left: 20px;
  }
  button{
    margin-top: 310px;
    margin-left: 75px;
  }
  img {
    margin-left: 5px;
  }
  input[type=text]:hover{
    box-shadow: none;
  }
  input[type=date]:hover{
    box-shadow: none;
  }
}